USE [master]
GO
/****** Object:  Database [HotelManagementDB]    Script Date: 6/22/2026 12:03:22 PM ******/
CREATE DATABASE [HotelManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagementDB', FILENAME = N'C:\SQL(SSMS)\MSSQL17.MSSQLSERVER\MSSQL\DATA\HotelManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagementDB_log', FILENAME = N'C:\SQL(SSMS)\MSSQL17.MSSQLSERVER\MSSQL\DATA\HotelManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhongs]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhongs](
	[MaDp] [int] IDENTITY(1,1) NOT NULL,
	[Makh] [int] NOT NULL,
	[Map] [int] NOT NULL,
	[NgayDat] [datetime2](7) NOT NULL,
	[NgayNhan] [datetime2](7) NOT NULL,
	[NgayTra] [datetime2](7) NOT NULL,
	[TongTienDuKien] [int] NOT NULL,
	[Trangthai] [int] NOT NULL,
 CONSTRAINT [PK_DatPhongs] PRIMARY KEY CLUSTERED 
(
	[MaDp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[SONGAYO] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
	[NGAYLAPHD] [datetime] NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[TYLEPHUTHU] [float] NOT NULL,
	[CCCD] [nvarchar](50) NOT NULL,
	[Mapt] [int] NULL,
	[HinhThucThanhToan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[TUOI] [int] NULL,
	[TEL] [nvarchar](12) NULL,
	[DIACHIKH] [nvarchar](100) NULL,
	[CMNDKH] [nvarchar](50) NOT NULL,
	[MALOAIKHACH] [int] NOT NULL,
	[MAP] [int] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHACH]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACH](
	[MALOAIKHACH] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIKHACH] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](30) NOT NULL,
	[DONGIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](30) NOT NULL,
	[PHAI] [nchar](3) NOT NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nvarchar](12) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAPPT] [datetime] NOT NULL,
	[MAKH] [int] NOT NULL,
	[MAP] [int] NOT NULL,
	[CCCD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAP] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](30) NOT NULL,
	[TINHTRANG] [int] NOT NULL,
	[SOLUONGKHACHTOIDA] [int] NOT NULL,
	[GHICHU] [text] NULL,
	[MALOAIPHONG] [int] NOT NULL,
	[SONGAYO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUTHU]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTHU](
	[IDPhuthu] [int] IDENTITY(1,1) NOT NULL,
	[Giatriphuthu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhuthu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/22/2026 12:03:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATKNV] [int] IDENTITY(1,1) NOT NULL,
	[TENTKNV] [nchar](40) NOT NULL,
	[MKTK] [nchar](30) NOT NULL,
	[MANV] [int] NOT NULL,
	[VAITRO] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATKNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260619143245_InitialCreate', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260619144459_AddMaptColumn', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260619151141_InitialCreate', N'10.0.8')
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [SONGAYO], [MANV], [TONGTIEN], [TENKH], [TENPHONG], [NGAYLAPHD], [NGAYDAT], [TYLEPHUTHU], [CCCD], [Mapt], [HinhThucThanhToan]) VALUES (1, 1, 1, 200000, N'Trần Nguyễn Đức Trung', N'P101', CAST(N'2026-06-19T01:29:31.000' AS DateTime), CAST(N'2026-06-19T00:00:00.000' AS DateTime), 0, N'0123456789', NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [SONGAYO], [MANV], [TONGTIEN], [TENKH], [TENPHONG], [NGAYLAPHD], [NGAYDAT], [TYLEPHUTHU], [CCCD], [Mapt], [HinhThucThanhToan]) VALUES (2, 1, 1, 350000, N'Ngô Lê Thanh Toàn', N'P403', CAST(N'2026-06-19T19:36:29.000' AS DateTime), CAST(N'2026-06-19T00:00:00.000' AS DateTime), 0, N'012345678910', NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [SONGAYO], [MANV], [TONGTIEN], [TENKH], [TENPHONG], [NGAYLAPHD], [NGAYDAT], [TYLEPHUTHU], [CCCD], [Mapt], [HinhThucThanhToan]) VALUES (3, 1, 1, 200000, N'Trần Nguyễn Đức Trung', N'P101', CAST(N'2026-06-19T19:37:18.000' AS DateTime), CAST(N'2026-06-19T00:00:00.000' AS DateTime), 0, N'0123456789', NULL, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [TUOI], [TEL], [DIACHIKH], [CMNDKH], [MALOAIKHACH], [MAP], [EMAIL], [MATKHAU]) VALUES (4, N'Võ Chí Thanh', 21, N'012345678910', N'Tp.HCM', N'012345678911', 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIKHACH] ON 

INSERT [dbo].[LOAIKHACH] ([MALOAIKHACH], [TENLOAIKHACH]) VALUES (1, N'Nội địa             ')
INSERT [dbo].[LOAIKHACH] ([MALOAIKHACH], [TENLOAIKHACH]) VALUES (2, N'Nước ngoài          ')
INSERT [dbo].[LOAIKHACH] ([MALOAIKHACH], [TENLOAIKHACH]) VALUES (3, N'Khách hàng VIP      ')
SET IDENTITY_INSERT [dbo].[LOAIKHACH] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAI], [DONGIA]) VALUES (1, N'Phòng đơn', 150000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAI], [DONGIA]) VALUES (2, N'Phòng đôi', 200000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAI], [DONGIA]) VALUES (3, N'Phòng VIP', 350000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH], [SDT], [EMAIL], [DIACHI]) VALUES (1, N'Nguyễn Văn A', N'Nam', CAST(N'1990-05-15' AS Date), N'0901234567', N'admin@gmail.com', N'TP.HCM')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH], [SDT], [EMAIL], [DIACHI]) VALUES (2, N'Trần Thị B', N'Nữ ', CAST(N'1995-08-20' AS Date), N'0909876543', N'nhanvien01@gmail.com', N'TP.HCM')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH], [SDT], [EMAIL], [DIACHI]) VALUES (5, N'Ngô Lê Thanh Toàn', N'Nam', CAST(N'2005-08-22' AS Date), N'0333157076', N'tgamemingpro2007@gmail.com', N'Tp.HCM')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] ON 

INSERT [dbo].[PHIEUTHUE] ([MAPT], [NGAYLAPPT], [MAKH], [MAP], [CCCD]) VALUES (6, CAST(N'2026-06-19T00:00:00.000' AS DateTime), 4, 1, N'012345678911')
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MAP], [TENPHONG], [TINHTRANG], [SOLUONGKHACHTOIDA], [GHICHU], [MALOAIPHONG], [SONGAYO]) VALUES (1, N'P101', 2, 2, N'phòng danh cho gái', 2, 0)
INSERT [dbo].[PHONG] ([MAP], [TENPHONG], [TINHTRANG], [SOLUONGKHACHTOIDA], [GHICHU], [MALOAIPHONG], [SONGAYO]) VALUES (2, N'P102', 1, 2, NULL, 2, 0)
INSERT [dbo].[PHONG] ([MAP], [TENPHONG], [TINHTRANG], [SOLUONGKHACHTOIDA], [GHICHU], [MALOAIPHONG], [SONGAYO]) VALUES (4, N'P202', 1, 3, N'dành cho nam', 2, 0)
SET IDENTITY_INSERT [dbo].[PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHUTHU] ON 

INSERT [dbo].[PHUTHU] ([IDPhuthu], [Giatriphuthu]) VALUES (1, 25)
INSERT [dbo].[PHUTHU] ([IDPhuthu], [Giatriphuthu]) VALUES (2, 10)
SET IDENTITY_INSERT [dbo].[PHUTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATKNV], [TENTKNV], [MKTK], [MANV], [VAITRO]) VALUES (1, N'admin@gmail.com                         ', N'123456789                     ', 1, N'ADMIN')
INSERT [dbo].[TAIKHOAN] ([MATKNV], [TENTKNV], [MKTK], [MANV], [VAITRO]) VALUES (2, N'nhanvien01@gmail.com                    ', N'123456789                     ', 2, N'NHANVIEN')
INSERT [dbo].[TAIKHOAN] ([MATKNV], [TENTKNV], [MKTK], [MANV], [VAITRO]) VALUES (4, N'tgamemingpro2007@gmail.com              ', N'123456789                     ', 5, N'ADMIN')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
/****** Object:  Index [IX_DatPhongs_Makh]    Script Date: 6/22/2026 12:03:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhongs_Makh] ON [dbo].[DatPhongs]
(
	[Makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatPhongs_Map]    Script Date: 6/22/2026 12:03:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatPhongs_Map] ON [dbo].[DatPhongs]
(
	[Map] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TYLEPHUTHU]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ((2)) FOR [SOLUONGKHACHTOIDA]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ((0)) FOR [SONGAYO]
GO
ALTER TABLE [dbo].[DatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_DatPhongs_KHACHHANG_Makh] FOREIGN KEY([Makh])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatPhongs] CHECK CONSTRAINT [FK_DatPhongs_KHACHHANG_Makh]
GO
ALTER TABLE [dbo].[DatPhongs]  WITH CHECK ADD  CONSTRAINT [FK_DatPhongs_PHONG_Map] FOREIGN KEY([Map])
REFERENCES [dbo].[PHONG] ([MAP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatPhongs] CHECK CONSTRAINT [FK_DatPhongs_PHONG_Map]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_LOAIKHACH] FOREIGN KEY([MALOAIKHACH])
REFERENCES [dbo].[LOAIKHACH] ([MALOAIKHACH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_LOAIKHACH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_PHONG1] FOREIGN KEY([MAP])
REFERENCES [dbo].[PHONG] ([MAP])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_PHONG1]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_KHACHHANG1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_KHACHHANG1]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHONG] FOREIGN KEY([MAP])
REFERENCES [dbo].[PHONG] ([MAP])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
USE [master]
GO
